# Node
node_modules/
dist/
.nyc_output/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo

# Env
.env
.env.local

# Logs
logs/
*.log

# OS
.DS_Store

# VS Code
.vscode/

# IDEs
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

